.rp-carousel{
    overflow: hidden;
}

.left-arrow-carousel{
    position: absolute;
    left: 0;
}

.right-arrow-carousel{
    position: absolute;
    right: 0;
}

.handle{
    display: block;
    top: 0;
    height: 100%;
    width: 60px;
    vertical-align: baseline;
    text-align: center;
    background-color: #000;
    opacity: 0.2;
}

.handle:hover{
    opacity: 0.3;
}

.ng-enter {
    transition: 1s ease-in-out left;
    position: relative;
}
.ng-enter.ng-enter-active, .ng-leave {
    left: 0;
}
.ng-leave.ng-leave-active, .ng-enter {
    left: 100%;
}

.carousel-container{
    width: 600px;
    height: 300px;
    position: absolute;
}