.rp-carousel{
    overflow: hidden;
}

.left-arrow-carousel{
    position: absolute;
    left: 0;
}

.right-arrow-carousel{
    position: absolute;
    right: 0;
}

.handle{
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100%;
    width: 60px;
    vertical-align: baseline;
    text-align: center;
    background-color: #000;
    opacity: 0.2;
}

.handle > div:first-child,
.handle > div:last-child{
   flex:1;
}

.handle:hover{
    opacity: 0.3;
}

ul.image-handle{
    list-style-type: circle;
}

ul.image-handle li {
    display: inline;
}

.ng-enter {
    transition: 1500ms linear;
    transition-property: opacity;
    position: relative;
}

.ng-enter.ng-enter-active, .ng-leave {
    opacity: 1;
}

.ng-leave.ng-leave-active, .ng-enter {
    opacity: 0.2;
}

.carousel-container{
    width: 620px;
    height: 250px;
    position: absolute;
}

.image-handler{
    position: absolute;
    z-index: 10;
    top: 85%;
    left: 40%;
}

.image-handler > a{
    width: 10px;
    height: 10px;
    background-color: #cccccc;
    display: inline-block;
    margin-left: 10px;
}

.image-handler > a:hover{
    background-color: #fef9e6;
    border: 1px solid #fef9e6;
    box-sizing: border-box;
}